body{
    background-color: rgb(112, 228, 114);
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.profile-pic{
    height: 200px;
    border-radius: 50%;
}
.social{
    height:30px
}
.card{
    display: flex;
    flex-direction: column;
    height: 420px;
    width:250px;
    padding:10px;
    background-color: rgb(235, 243, 251);
    align-items: center;
    justify-content: center;
}
.footer{
    display: flex;
    font-size: x-large;
    font-weight: bold;
    color: aliceblue;
    background-color: black;
    width: 39vh;
    border: 0px;
    align-items: center;
    justify-content: center;
    padding: opx;
}
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0px;
    font-size: 20px;
}
p{
    gap:30px;
}
